In [2]:
import pandas as pd 
import numpy as np

In [3]:
df=pd.read_csv("iris.csv")

In [4]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [5]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [9]:
gp=df.groupby('Species')

In [13]:
gp.groups.keys()

dict_keys(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])

In [18]:
gp.agg(['mean','median',pd.Series.mode,'min','max','var','std'])

                    Id                                   SepalLengthCm         \
                  mean median  min  max    var       std          mean median
Species
Iris-setosa       25.5   25.5    1   50  212.5  14.57738         5.006    5.0
Iris-versicolor   75.5   75.5   51  100  212.5  14.57738         5.936    5.9
Iris-virginica   125.5  125.5  101  150  212.5  14.57738         6.588    6.5

                           ... PetalLengthCm                           \
                 min  max  ...           min  max       var       std
Species                    ...
Iris-setosa      4.3  5.8  ...           1.0  1.9  0.030106  0.173511
Iris-versicolor  4.9  7.0  ...           3.0  5.1  0.220816  0.469911
Iris-virginica   4.9  7.9  ...           4.5  6.9  0.304588  0.551895

                PetalWidthCm
                        mean median  min  max       var       std
Species
Iris-setosa            0.244    0.2  0.1  0.6  0.011494  0.107210
Iris-versicolor        1.326    1.3  1.0  1.8  0.039106  0.197753
Iris-virginica         2.026    2.0  1.4  2.5  0.075433  0.274650

[3 rows x 30 columns]

In [ ]:
#there can be multiple mode for that us custom function

In [21]:
def custom_mode(x):
    modes=x.mode()
    if len(modes)==len(x):
        return np.nan
    else:
        return modes.tolist()
aggregated_data = gp.agg(['mean', 'median',custom_mode, 'min', 'max', 'var', 'std'])

In [22]:
aggregated_data

                    Id                                                \
                  mean median custom_mode  min  max    var       std
Species
Iris-setosa       25.5   25.5         NaN    1   50  212.5  14.57738
Iris-versicolor   75.5   75.5         NaN   51  100  212.5  14.57738
Iris-virginica   125.5  125.5         NaN  101  150  212.5  14.57738

                SepalLengthCm                          ... PetalLengthCm  \
                         mean median      custom_mode  ...           max
Species                                                ...
Iris-setosa             5.006    5.0       [5.0, 5.1]  ...           1.9
Iris-versicolor         5.936    5.9  [5.5, 5.6, 5.7]  ...           5.1
Iris-virginica          6.588    6.5            [6.3]  ...           6.9

                                    PetalWidthCm                               \
                      var       std         mean median custom_mode  min  max
Species
Iris-setosa      0.030106  0.173511        0.244    0.2       [0.2]  0.1  0.6
Iris-versicolor  0.220816  0.469911        1.326    1.3       [1.3]  1.0  1.8
Iris-virginica   0.304588  0.551895        2.026    2.0       [1.8]  1.4  2.5


                      var       std
Species
Iris-setosa      0.011494  0.107210
Iris-versicolor  0.039106  0.197753
Iris-virginica   0.075433  0.274650

[3 rows x 35 columns]